.place__title {
  margin: 0;
  font-weight: 900;
  color: #FFFFFF;
  display: grid;
  justify-content: start;
  align-content: end;
}

@media (min-width: 320px) {
  .place__title {
    max-width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 109%;
  }
}

@media (min-width: 768px) {
  .place__title {
    max-width: 340px;
    min-height: 46px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media (min-width: 1024px) {
  .place__title {
    max-width: 440px;
    min-height: 76px;
    font-size: 72px;
    line-height: 106%;
  }
}

@media (min-width: 1280px) {
  .place__title {
    max-width: 460px;
  }
}