.page {
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
  background: #2A2C2F;
}

@media screen and (min-width: 320px) {
  .page {
    width: 100%;
    min-height: 100%;
  }
}