.places {
  margin: 0;
  margin-left: 148px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .places {
    max-width: 984px;
    max-height: 3392px;
  }
}

@media (min-width: 1024px) {
  .places {
    max-width: 928px;
    max-height: 3292px;
  }
}

@media (min-width: 768px) {
  .places {
    max-width: 720px;
    max-height: 2808px;
  }
}

@media (min-width: 320px) {
  .places {
    max-width: 320px;
    max-height: 5177px;
  }
}