.places {
  display: grid;
}

@media (min-width: 320px) {
  .places {
    min-width: 95vw;
    min-height: 100%;
    margin: 64px 0 41px 0;
    row-gap: 50px;
  }
}

@media (min-width: 768px) {
  .places {
    min-width: 93.75vw;
    margin: 88px 0 65px 0;
    row-gap: 73px;
  }
}

@media (min-width: 1024px) {
  .places {
    min-width: 90.63vw;
    margin: 12px auto 92px auto;
    row-gap: 80px;
  }
}

@media (min-width: 1280px) {
  .places {
    max-width: 76.88vw;
  }
}