.intro__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: inherit;
  margin: 0;
  padding: 0;
  padding-top: 33px;
}

@media screen and (min-width: 320px) {
  .intro__list {
    min-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .intro__list {
    min-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    min-width: 690px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__list {
    min-width: 690px;
  }
}