.lead {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px auto;
  border: 1px solid red;
}

@media (min-width: 320px) {
  .lead {
    width: 100vw;
    max-height: 406px;
  }
}

@media (min-width: 768px) {
  .lead {
    width: 100vw;
    max-height: 862px;
  }
}

@media (min-width: 1024px) {
  .lead {
    width: 90vw;
    max-height: 962px;
  }
}

@media (min-width: 1280px) {
  .lead {
    width: 70vw;
    max-height: 1005px;
  }
}


