.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px auto 0 auto;
}

@media screen and (min-width: 320px) {
  .header {
    max-width: 90vw;
    min-height: 42px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 94vw;
    min-height: 52px;

  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 91vw;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 93vw;
  }
}