.footer__link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  .footer__link {
    max-width: 58.13vw;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer__link {
    max-width: 94vw;
  }
}

@media screen and (min-width: 1024px) {
  .footer__link {
    max-width: 91vw; 
  }
}

@media screen and (min-width: 1280px) {
  .footer__link {
    max-width: 93vw;

  }
}