.header__lang-link_active {
  width: 30px;
  text-decoration-line: underline;
}

@media (min-width: 1024px) {
  .header__lang-link_active {
    width: 30px;
  }
}

@media (min-width: 768px) {
  .header__lang-link_active {
    width: 30px;
    height: 28px;
  }
}

@media (min-width: 320px) {
  .header__lang-link_active {
    width: 22px;
    height: 20px;
  }
}