.cover {
  margin: 92px auto 0 auto;
  width: 1184px;
  height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
}

@media (max-width: 1024px) {
  .cover {
    
  }
}

@media (max-width: 768px) {
  .cover {
    
  }
}

@media (max-width: 320px) {
  .cover {
    
  }
}