.place__link {
  color: #FFFFFF;
  margin: 0;
  text-decoration-line: underline;
}

.place__link:hover {
  cursor: pointer;
}

@media (min-width: 320px) {
  .place__link {
    padding-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
  }
}