.cover__background {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  margin: 0;
  z-index: 0;
  opacity: 0.8;
}

.cover__background:hover {
  background: #2A2C2F;
  opacity: 0.3;
}

@media screen and (min-width: 320px) {
  .cover__background {
    min-width: 320px;
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .cover__background {
    min-width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__background {
    min-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    min-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
  }
}