.lead__caption {
  margin: 0;
  padding-top: 8px;

  max-width: 158px;
  max-height: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #FFFFFF;
  border: 1px solid red;
}

@media (min-width: 320px) {
  .lead__caption {
    left: 5%;
  }
}

@media (min-width: 768px) {
  .lead__caption {
    left: 3.13%;
  }
}

@media (min-width: 1024px) {
  .lead__caption {
    left: 4.69%;
  }
}

@media (min-width: 1280px) {
  .lead__caption {
    left: 4.69%;
  }
}