.lead__figure {
  margin: 0;
  border: 1px solid red;
}


@media (min-width: 320px) {
  .lead__figure {
    left: 5%;
  }
}

@media (min-width: 768px) {
  .lead__figure {
    left: 3.13%;
  }
}

@media (min-width: 1024px) {
  .lead__figure {
    left: 4.69%;
  }
}

@media (min-width: 1280px) {
  .lead__figure {
    left: 4.69%;
  }
}