.place {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

@media (min-width: 320px) {
  .place {
    /* max-width: 320px;
    min-height: 1042px; */
  }
}

@media (min-width: 768px) {
  .place {
    /* max-width: 720px;
    min-height: 484px; */
  }
}

@media (min-width: 1024px) {
  .place {
    /* max-width: 90.63vw;
    min-height: 564px; */
  }
}

@media (min-width: 1280px) {
  .place {
    /* max-width: 76.88vw;
    min-height: 660px; */
  }
}