.place {
  margin: 0;
  max-width: 984px;
  max-height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

@media (max-width: 1024px) {
  .place {
    max-width: 92px;
    max-height: 564px;
  }
}

@media (max-width: 768px) {
  .place {
    max-width: 720px;
    max-height: 484px;
  }
}

@media (max-width: 320px) {
  .place {
    max-width: 320px;
    max-height: 1042px;
  }
}