.place__url-heading {
  margin: 0;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media (min-width: 320px) {
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
}