.place__website {
  margin: 0;
  padding-left: 40px;
  right: 176px;
  padding-top: 198px;
  max-width: 456px;
  max-height: 46px;
  position: absolute;
  color: #FFFFFF;
}

@media (min-width: 320px) {
  .place__website {
    
  }
}

@media (min-width: 768px) {
  .place__website {
    
  }
}

@media (min-width: 1024px) {
  .place__website {
    
  }
}

@media (min-width: 1280px) {
  .place__website {
    
  }
}